# Ignore the Composer vendor directory
/vendor/

# Ignore paths that contain user-generated content.
web/sites/*/files/

# Ignore configuration file.
web/sites/*/settings*.php
web/sites/*/services*.yml

*/settings*.php




