# Ignore the Composer vendor directory
/vendor/

# Ignore log files
*.log
*.log.*

# Ignore paths that contain user-generated content.
web/sites/default/files/

# Ignore configuration files that may contain sensitive information.
web/sites/default/settings*.php
web/sites/*/services*.yml


